body {
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: #50002A;
}

.topbar {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 15vh;
    background-color: #3B001F; 
    z-index:2;
}

.topbar p {
    margin: 0px;
    padding-top: 15px;
    font-size: 100px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.background {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 85vh;
    background-color: #50002A;
    z-index: 1;
}

.emaillabel {
    width: 35%;
    height: 6vh;
    background-color: #bb2d3b;
    border-radius: 25px;
    z-index: 2;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.emaillabel h1 {
    padding-top: 1%;
}